.conteiner{
    position: relative;
    margin: 30px;
    border-radius: 5px;
    color: #141414;
    text-align: center;
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 36px;
}

.dados{
    display: flex;
    width: 50%;
    background-color: #dc919d;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px 0px 35px 0px;
    gap: 250px;
    align-items: center;
    justify-content: center;
}

.fotoPerfil{
    width: 250px;
    height: 250px;
}

.infosPessoais h4{
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 10px;
}

.infosPessoais p{
    font-size: 16px;
    color: #ffffff;
}
.identificacao h2{
    color: #ffffff;
}

.favoritos{
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;
}

.favoritos h2{
    padding-bottom: 30px;
}

.filmes h3{
    font-size: 26px;
    padding: 25px;
}

.series h3{
    font-size: 26px;
    padding: 25px;
}

.selecao{
    display: flex;
    justify-content: center;
}

.serie{
    width: 345px;
    height: 345px;
}

.serie img{
    width: 100%;
    height: 100%;
}

.serie img:hover{
    transform: scale(1.1);
}

.filme{
    width: 345px;
    height: 345px;
}

.filme img{
    width: 100%;
    height: 100%;
}

.filme img:hover{
    transform: scale(1.1);
}